<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <link rel="stylesheet" href="/css/styles.css">
    <header><a href="http://localhost:3030/home">DH HEROES</a></header>
    <h1><center>Charles Babbage</center></h1>
    <p><center><img src="/img/babbage.jpg" alt=""></center></p>
    <p>Charles Babbage fué un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
</body>
</html>