<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <link rel="stylesheet" href="/css/styles.css">
    <header><a href="http://localhost:3030/home">DH HEROES</a></header>
    <h1><center>Tim Berners-Lee</center></h1>
    <p><center><img src="/img/berners-lee.jpg" alt=""></center></p>
    <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</p>
</body>
</html>