<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
</head>
<body>
    <link rel="stylesheet" href="/css/styles.css">
    <header><a href="http://localhost:3030/home">DH HEROES</a></header>
    <h1><center>Margaret Hamilton</center></h1>
    <p><center><img src="/img/hamilton.jpg" alt=""></center></p>
    <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.​​​ </p>
</body>
</html>