<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
</head>
<body>
    <link rel="stylesheet" href="/css/styles.css">
    <header><a href="http://localhost:3030/home">DH HEROES</a></header>
    <h1><center>Grace Murray Hopper</center></h1>
    <p><center><img src="/img/hopper.jpeg" alt=""></center></p>
    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.</p>
</body>
</html>